@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

* {
    font-family: 'Overpass', sans-serif;
}

:root {
--White: hsl(0, 0%, 100%);
--LightGrey: #959eac;
--MediumGrey: hsl(216, 12%, 54%);
--DarkBlue: #1b2229;
--VeryDarkBlue: hsl(216, 12%, 8%);
--Orange: hsl(25, 97%, 53%);
--Grey: #262b35;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--VeryDarkBlue);
}

.box {
    background-color: var(--DarkBlue);
    width: 400px;
    display: flex;
    flex-direction: column;
    padding: 30px;
    color: var(--White);
    border-radius: 20px;
}

.box__img img{
    padding: 15px;
    background-color: var(--Grey);
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 2px 8px 0px;
    margin-bottom: 30px;
}

.box__text h2{
    margin-bottom: 15px;
    letter-spacing: 2px;
    font-size: 30px;
    font-weight: 700;
    color: var(--White);
}

.box__text p {
    color: var(--MediumGrey);
    line-height: 1.5;
    margin-bottom: 20px;
}
.box__inputs {
    display: flex;
    justify-content: space-between;
    margin-bottom: 35px;

    text-align: center;
   
}

.placeholder {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background-color: var(--Grey);
    transition: ease .2s;
}
.box__inputs .inputs {
    display: none;
}

.box__inputs .label {
    color: var(--LightGrey);
    padding: 20px;
    cursor: pointer;
}

.placeholder:hover {
    background-color: var(--Orange);
    color: var(--White);
}

.placeholder:hover > .label {
    color: var(--White);
}

.--active {
    background-color: var(--LightGrey);
}
.--active .label {
    color: var(--White);
}
.--active:hover {
    background-color: var(--LightGrey);
}

.box__button button{
    cursor: pointer;
    width: 100%;
    border-radius: 50px;
    height: 45px;
    outline: none;
    border: none;
    background-color: var(--Orange);
    color: var(--White);
    letter-spacing: 2px;
    font-weight: 700;
    transition: ease .2s;
}

.box__button button:hover {
    background-color: var(--White);
    color: var(--Orange);
}




.box__thenVote {
   display: none;
   flex-direction: column;
   align-items: center;
}
.thenVote--img {
    margin-bottom: 30px;
}

.thenVote--text {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 15px;
}

.thenVote--text-span {
    padding: 10px;
    background-color: var(--Grey);
    border-radius: 20px;
    color: var(--Orange);
    text-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    font-size: 13px;
    margin-bottom: 30px;
}
.thenVote--text h2 { 
   margin-bottom: 15px;
   font-size: 25px;
   letter-spacing: 1px;
}

.thenVote--text p{
    font-size: 15px;
    color: var(--LightGrey);
    line-height: 1.5;
}

.box--hide .box__img, .box--hide .box__inputs, .box--hide .box__text,
.box--hide .box__button {
    display: none
}

.box--hide .box__thenVote {
    display: flex;
}


.attribution { 
    position: absolute;
    bottom: 20px;
    color: var(--White);
    font-size: 11px; 
    text-align: center; 
}
.attribution a { 
    color: var(--Orange);
}